{% extends 'admin/base.html.twig' %}

{% block title %}Les utilisateurs de {% endblock %}

{% block body %}
        <div class="container-fluid">
        <h1 class="my-5"> Gestion des utilisateurs</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Photo</th>
                    <th>Introduction</th>
                </tr>
            </thead>
            <tbody>
                {% for user in pagination.data %}
                <tr>
                    <td class="text-center">{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <img src="{{ user.picture }}" alt="Avatar de {{ user.fullname }}" class="avatar mr-2">
                    </td>
                    <td>{{ user.introduction }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.display() }}
    </div>
{% endblock %}
