{% extends 'admin/base.html.twig' %}

{% block title %}Dash Bord {% endblock %}

{% block body %}
    <div class="container-fluid table-responsive">
        <h1 class="my-5"> Vue globale</h1>
        <div class="row">
            <ul>
            <li>{{ ads | length }} annonces</li>
                <ul>
                
                    {% for ad in ads %}

                    <li> {{ ad.AvgRating | number_format(1, ',', ' ') }} </li>

                    {% endfor %} 
                
                </ul>
            <li>{{ bookings | length }} réservationss</li>
            <li>{{ comments | length }} commentaires</li>
                <ul>
                
                {% for ad in ads %}

                   <li> {{ ad.avgRating }} </li>

                {% endfor %} 
                
                </ul>
            <li>{{ images | length }} photos</li>
            <li>{{ users | length }} utilisateurss</p>
            </ul>
        </div>
    </div>


{% endblock %}
