{% extends 'base.html.twig' %}

{% block title %}Réservez {{ ad.title }} {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
{% endblock %}

{% block body %}
<div class="container">
    <h1>Réservez l'annonce {{ ad.title }}</h1>
        <p>Vous allez réservez le bien de <strong>{{ ad.author.fullName }}</strong></p>

        {{ form_start(form) }}

        <div class="alert alert-light">
            <h2>Indiquez vos dates de séjour ci dessous</h2>
            <div class="row">
                <div class="col">

                    {{ form_row(form.startDate) }}

                </div>
                <div class="col">

                    {{ form_row(form.endDate) }}

                </div>
            </div>
        </div>


        <h4>Montant du séjour : <span id="amount">...</span> &euro;</h4>
        <p><span id="days">0</span> nuit(s) à {{ ad.price }} &euro; / nuit</p>

        <h2>Ajoutez un commentaire (optionnel)</h2>

        {{ form_row(form.comment) }}

        <button type="submit" class="btn btn-warning">Validez</button>
        
        {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js">
</script>

<script>
    $(document).ready(function(){
        $('#booking_startDate, #booking_endDate').datepicker({
            format: 'dd/mm/yyyy',
            datesDisabled: [
                {% for day in ad.notAvailableDays %}
                    "{{ day.format('d/m/Y') }}",
                {% endfor %}
            ],
            startDate: new Date()
        });
    })
</script>

{% endblock %}
