{% extends 'base.html.twig' %}

{% block title %}Réservation n° {{ booking.id }} {% endblock %}

{% block body %}

{% set ad = booking.ad %}
{% set author = ad.author %}

<div class="container">
    <h1 class="my-5">Réservation n° {{ booking.id }}</h1>

    {% if app.request.query.get('withAlert') %}
        <div class="alert alert-success">
            <h4 class="alert-heading">Félicitations</h4>
            <p>
                <strong>{{ booking.booker.fullName }}</strong>, votre réservation auprès de 
                <strong>
                    <a href="{{ path('user_show', {'slug' : author.slug })}}">{{ author.fullName }}</a>
                </strong> pour l'annonce 
                <strong>
                    <a href="{{ path('ads_show', {'slug' : ad.slug })}}">{{ ad.title}}</a>
                </strong> a bien été enregistrée.
            </p>
        </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <div class="alert alert-light">
                <h2>Détails de la réservation</h2>
                <dl class="row">
                    <dt class="col-md-4">Numéro</dt>
                    <dd class="col-md-8">{{ booking.id }}</dd>
                    <dt class="col-md-4">Date d'arrivée</dt>
                    <dd class="col-md-8">{{ booking.startDate | date('d/m/Y') }}</dd>
                    <dt class="col-md-4">Date de départ</dt>
                    <dd class="col-md-8">{{ booking.endDate | date('d/m/Y') }}</dd>
                    <dt class="col-md-4">Durée du séjour</dt>
                    <dd class="col-md-8">{{ booking.duration }} nuitée(s)</dd>
                    <dt class="col-md-4">Montant total TTC</dt>
                    <dd class="col-md-8">{{ booking.amount | number_format(2, ',', ' ') }} &euro;</dd>
                    <dt class="col-md-4">Commentaire</dt>
                    <dd class="col-md-8 text-justify">{{ booking.comment | default('Aucun commentaire') }}</dd>
                </dl>

                <hr>

                <h2 class="alert-heading">Votre hôte</h2>
                <div class="row">
                    <div class="col-4  mb-3">
                        <img src="{{ author.picture }}" class="avatar acatar-medium" alt="Avatar de {{ author.fullName }}">
                    </div>
                    <div class="col-8">
                        <h4>
                            <a href="{{ path('user_show', {'slug' : author.slug })}}">{{ author.fullName }}</a>
                        </h4>
                        <span class="badge badge-warning">{{ author.ads|length }} annonces</span>
                    </div>
                </div>
                <div class="text-justify">
                    <p>{{ author.description | raw }}</p>
                </div>

                <a href="{{ path('user_show', {'slug' : author.slug })}}" class="btn btn-warning mb-3">
                    Plus d'informations sur {{ author.firstName }}</a>
            </div>

            <div class="alert alert-light">
                <h2 class="alert-heading">Votre avis compte</h2>
                {% if date() > date(booking.endDate) %}

                    {% set comment = booking.ad.CommentFromAuthor(app.user) %}

                    {% if comment is not null %}
                        
                        <blockquote>

                            {{ comment.content }}

                            <p><strong>Note : </strong>
                            {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}</p>

                        </blockquote>

                    {% else %}

                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <button class="btn btn-warning" type="submit">Commentez</button>

                        {{ form_end(form) }}

                    {% endif %}

                {% else %}
                    <p>Pensez à noter votre séjour à la fin de celui-ci !</p>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="alert alert-light">
                <h2 class="alert-heading">L'hébergement</h2>
                <h4>
                    <a href="{{ path('ads_show', {'slug' : ad.slug })}}">{{ ad.title }}</a>
                </h4>

                <img src="{{ ad.coverImage }}" alt="Image de {{ ad.title }}" class="img-fluid mb-3">
                <div class="text-justify">
                    <p>{{ ad.content | raw }}</p>
                </div>
                <a href="{{ path('ads_show', {'slug' : ad.slug })}}" class="btn btn-warning mb-3">
                        Plus d'informations sur {{ ad.title}}</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}
