{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue à la 
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-4 bg-light text-center">
        <h1 class="display-3">Bienvenue à la M.A.M. du Tremblay sur Mauldre</h1>
        <p class="lead text-warning">Nous gardons vos enfants de 0 à 3ans du lundi au vendredi</p>
        <hr class="my-4">
        <p class="text-primary">Où et à qui confier son enfant en bas âge quand les parents travaillent ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Plus d'info</a>
        </p>
    </div>

    <h1 class="my-5">Les mieux notées</h1>

    <h2 class="my-5">Nos annonces stars</h2>
    <div class="row">
        {% for ad in ads %}
            {% if ad.AvgRating > 4 %}
            
            {% include 'ad/_ad.html.twig' %}
            
            {% endif %}
        {% endfor %}
    </div>

    <h2 class="my-5">Nos propriétaires stars</h2>
    <div class="row">
        {% for ad in ads %}
        {% if ad.AvgRating > 4 %}
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{ ad.author.fullName }}</h4>

                    <hr>

                    <div class="card-text clearfix">
                        <img src={{ ad.author.picture }} alt="Avatar de {{ ad.author.fullName }}" class="float-left mr-3 avatar">
                        <p>{{ ad.author.introduction }}</p>
                        <a href="{{ path('user_show', {'slug' : ad.author.slug })}}" class="btn btn-warning float-right my-3"> plus sur {{ ad.author.fullName }}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>


</div>
{% endblock %}