{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron mt-4 bg-light text-center">
        <h1 class="display-3">Bienvenue sur Air Be and Be</h1>
        <p class="lead text-warning">Comme à la maison chez les autres</p>
        <hr class="my-4">
        <p class="text-warning">Appartements, maisons à louer entre particuliers</p>
        <p class="lead">
            <a class="btn btn-warning btn-lg" href="#" role="button">Plus d'info...</a>
        </p>
    </div>

    <h2 class="h1 my-5">Les annonces les mieux notées</h2>

    <div class="row">
        {% for data in ads %}
            {% include 'ad/_ad.html.twig' with {'ad': data.annonce} %}
        {% endfor %}
    </div>

    <h2 class="h1 my-5">Les propriétaires les mieux notés</h2>
    
    <div class="row">
        {% for data in users %}
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{data.user.fullName}}</h4>

                    <hr>

                    <div class="card-text">
                        <img src="{{data.user.picture}}" alt="Avatar de {{data.user.fullName}}" class="float-left mr-3">
                        <p>{{data.user.introduction}}</p>
                        <a href="{{ path('user_show', {'slug': data.user.slug})}}" class="btn btn-warning float-right">En savoir plus!</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}